<div class="row pt-5">
  <div class="col-sm-5 mx-auto">
    <form action="/dashboard/key" method="POST">
      <div class="form-inline">
        <input type="password" placeholder="Enter Stream Key" name="streamKey" id="stream-key" class="form-control w-75">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
