<div class="text-center mb-3">
  <h2>Setting Up Your Own Stream</h2>
</div>
<div class="pl-4 mb-4">
  <h4>The steps below give you a basic requirement for setting up your own live stream:-</h4>
</div>
<ul type="disc" class="ml-5">
  <li>A software is required on the streamer's PC to send the stream to our servers. <a href="https://obsproject.com/download">OBS software</a> is a good choice for streaming.</li>
  <li>In the software, set the stream type to custom server</li>
  <li>Next set the URL of the server to rtmp://{{serverIP}}:1935</li>
  <li>The streamer has to set a stream key which should not be shared with anyone else. The stream key entered here should be the same as entered in the streaming software.</li>
  <li>After setting the basic settings of your software, click the "Start Streaming" button on the home page and proceed.</li>
</ul>
