<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BlitzStream</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://vjs.zencdn.net/6.6.3/video-js.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    async function waitStream() {
      var status = 404;
      while(status != 200){
        await axios.get('http://192.168.101.7:80/tv2/' + '{{streamKey}}' + '.m3u8')
          .then(res => {
            status = res.status;
            return new Promise((resolve, reject) => {
              resolve();
            });
          })
          .catch(err => {
            status = 404;
          });
      }
    }
  </script>
</head>
<body>

  {{> _navbar}}
  <div id="bg">
    <div id="dark-overlay">
      <div id="bg-inner">
        {{> _msg}}
        {{> _errors}}
        <div id="main-body">
          {{{body}}}
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <script>

    waitStream().then(() => {
      $('#user-page').removeClass('hidden');
      $('#load').addClass('hidden');
      var player = videojs('stream-video', {
          controls: true,
          sources: [{src: 'http://192.168.101.7:80/tv2/' + '{{streamKey}}' + '.m3u8', type: 'application/vnd.apple.mpegurl'}]
      });
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', {
          msg: $('#m').val(),
          from: 'swami'
        });
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#message').append($('<li>').text(msg));
      });
    });
  </script>

</body>
</html>
