<div class="text-center">
  <h1>Its All About Streaming</h1>
</div>
<div class="container mt-5 p-4">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md mb-3">
      <a href="/users/login"><button class="btn btn-login-register mr-3">Login</button></a>
    </div>
    <div class="col-md mb-3">
      <a href="/users/register"><button class="btn btn-login-register ml-3">Register</button></a>
    </div>
    <div class="col-md"></div>
  </div>
</div>
