<div class="text-center active" id="load">
  <h2>Waiting For Your Stream</h2>
</div>
<div class="row hidden" id="user-page">
  <div class="col-sm-8">
    <video id="stream-video" class="video-js vjs-default-skin vjs-big-play-centered"></video>
  </div>
  <div class="col-sm-4">
    <div id="chat-area">
      <ul id="message"></ul>
      <form action="" id="text-chat">
        <input id="m" autocomplete="off"><button class="btn">Send</button>
      </form>
    </div>
  </div>
</div>
